.container {
	text-align: center;
	max-width: 950px;
	margin: 0 auto;
}

.button-start {
	/* background-color: hsl(var(--accent-color-hue), var(--accent-color-saturation), 92%);
	color: white; */
	padding: 0.5em 0.75em;
	background-color: hsl(var(--accent-color-hue), var(--accent-color-saturation), 92%);
	font-size: 18px;
	border: none;
	transition: background-color 0.15s ease;
}

.button-start:hover {
	background-color: hsl(var(--accent-color-hue), var(--accent-color-saturation), 87%);
}

.button-start:disabled {
	background-color: var(--disabled-color);
}

.information {
	width: 500px;
	height: 30px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;

	border: 2px solid hsl(var(--accent-color-hue), var(--accent-color-saturation), 92%);
	border-radius: 15px;
	padding: 15px 20px;
}

.container {
	text-align: center;
	max-width: 950px;
	margin: 0 auto;
}

.buttons-container {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.button {
	padding: 0.5em 0.75em;
	background-color: hsl(var(--accent-color-hue), var(--accent-color-saturation), 92%);
	font-size: 18px;
	border: none;
	transition: background-color 0.15s ease;
}

.button:hover {
	background-color: hsl(var(--accent-color-hue), var(--accent-color-saturation), 87%);
}

.button:disabled {
	background-color: var(--disabled-color);
}
